.bg-img1{
  
    background-size: cover;
    background-color: #000;
    background-image: url(https://github.com/Ericledev/lab18/blob/main/images/clojure.png);
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url(https://github.com/Ericledev/lab18/blob/main/images/scala.png);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url(https://github.com/Ericledev/lab18/blob/main/images/python.png);

}

.carousel-item{
    /* width: 30rem; */
    height: 32rem;
}
